* {
    box-sizing: border-box;
    padding: 0;
    margin: 0.3rem;
    font-family: 'Kanit', sans-serif;
    
}

body {
    background-color: gray;
    
}

button {
    width: auto;
    height: 20px;
}

div {
    border: 2px solid red;
    width: 400px;
    min-height: 50px;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: #000;
    
}

#outputMultiply {
    white-space: pre-line;
    /* สั่งให้ขึ้นบรรทัดใหม่ จาก \n ใน js */
}